.row
  .col.s12.l8.offset-l2
    %h3 Offene Schadensfälle
    .collection
      %a.collection-item{href:"/detail"}
        469.523.876
        %span.new.badge{data: {'badge-caption': 'Neu'}}
      %a.collection-item{href:"/detail"}
        548.163.825
      %a.collection-item{href:"/detail"}
        612.172.722
      %a.collection-item{href:"/detail"}
        422.261.591
      %a.collection-item{href:"/detail"}
        820.428.855